@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter-Variable';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/InterVariable.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: 'Inter-Variable', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #ececec;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  width: 100%;
  height: 100%;
  accent-color: #17a44a;
}

button {
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  color: inherit;
  font: inherit;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

ul {
  all: unset;
  list-style: none;
}
form {
  font-size: inherit;
}
form fieldset {
  all: unset;
}
form button {
  padding: 2px 6px 2px 6px;
}
input {
  border: none;
}
.select-text-visibility {
  display: none;
}
.react-aria-ListBoxItem[data-selected] {
  display: none;
}
.react-aria-Select[data-open] .select-text-visibility {
  display: none;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  all: unset;
  font: inherit;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}

/* 
* MARK: Dialog
*/
#dialog {
  max-width: 700px;
  max-height: 160px;
  width: calc(100% - 24px);
  height: 100%;
  padding: 0;
  border-radius: 6px;
}
#dialog-inner {
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 6px;
}
dialog {
  border: 0;
  max-inline-size: min(90vw, 60ch);
  max-block-size: min(80vh, 100%);
  max-block-size: min(80dvb, 100%);
  overflow: hidden;
  position: fixed;
  margin: auto;
  z-index: 9999;
  isolation: isolate;
}

.nav-wrapper {
  width: auto;
  left: -330px;
  top: 0px;
  bottom: 0px;
  position: fixed;
}
.nav-wrapper.nav-visible {
  left: 0;
}

@media (min-width: 1024px) {
  .nav-wrapper {
    width: 250px;
    left: 0px;
  }
}

.root-outlet {
  flex-grow: 1;
  /* position: relative;
  width: 100%;
  height: 100%; */
}

@keyframes ellipsis {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
}

.loading-ellipsis::after {
  content: '.';
  display: inline-block;
  animation: ellipsis 1.5s infinite;
}
/* 
.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@media (min-width: 1023px) {
  .spinner-overlay {
    margin-left: -140px;
  }
} */
