@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: Inter-Variable, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  font-size: 16px;
  background-color: #ececec;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  /* all: unset; */
  /* cursor: pointer; */
  background: transparent;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  color: inherit;
  font: inherit;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

ul {
  all: unset;
  list-style: none;
}
form {
  /* all: unset; */
  font-size: inherit;
}
form button {
  padding: 4px 6px 4px 6px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 9999px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  all: unset;
  font: inherit;
  /* padding: 4px 12px 4px 12px; */
  /* border: 1px solid rgb(194, 194, 194); */
  /* border-radius: 8px; */
}
img {
  display: block;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
}

#dialog {
  max-width: 700px;
  max-height: 220px;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 6px;
}
#dialog-inner {
  width: 100%;
  height: 100%;
  padding: 16px;
  /* outline: 2px; */
  border-radius: 6px;
  /* border: 2px solid yellowgreen; */
}
dialog {
  border: 0;
  max-inline-size: min(90vw, 60ch);
  max-block-size: min(80vh, 100%);
  max-block-size: min(80dvb, 100%);
  overflow: hidden;
  position: fixed;
  margin: auto;
}

/* @import '@react-aria/example-theme'; */
/* 
.react-aria-Select {
  color: var(--text-color);

  .react-aria-Button {
    box-shadow: 0 1px 2px rgba(0 0 0 / 0.1);
    border-radius: 6px;
    font-size: 1.072rem;
    padding: 0.286rem 0.286rem 0.286rem 0.571rem;
    display: flex;
    align-items: center;
    max-width: 250px;

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
  }

  .react-aria-SelectValue {
    &[data-placeholder] {
      font-style: italic;
      color: var(--text-color-placeholder);
    }
  }

  span[aria-hidden] {
    width: 1.5rem;
    line-height: 1.375rem;
    margin-left: 1rem;
    padding: 1px;
    background: var(--highlight-background);
    color: var(--highlight-foreground);
    forced-color-adjust: none;
    border-radius: 4px;
    font-size: 0.857rem;
  }
}

.react-aria-Popover[data-trigger='Select'] {
  min-width: var(--trigger-width);

  .react-aria-ListBox {
    display: block;
    width: unset;
    max-height: inherit;
    min-height: unset;
    border: none;

    .react-aria-Header {
      padding-left: 1.571rem;
    }
  }

  .react-aria-ListBoxItem {
    padding: 0.286rem 0.571rem 0.286rem 1.571rem;

    &[data-focus-visible] {
      outline: none;
    }

    &[data-selected] {
      font-weight: 600;
      background: unset;
      color: var(--text-color);

      &::before {
        content: '✓';
        content: '✓' / '';
        alt: ' ';
        position: absolute;
        top: 4px;
        left: 4px;
      }
    }

    &[data-focused],
    &[data-pressed] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
    }
  }
} 
*/
